@layer reset, base, components, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  p,
  figure {
    margin: 0;
  }
}

@layer base {
  :root {
    color-scheme: light dark;

    --space: 1rem;

    --color-bg: light-dark(oklch(98% 0.01 255), oklch(20% 0.02 255));

    --color-text: light-dark(oklch(25% 0.02 255), oklch(94% 0.01 255));

    --color-accent: light-dark(oklch(45% 0.18 255), oklch(75% 0.12 255));

    --color-surface: color-mix(
      in oklch,
      var(--color-bg) 92%,
      var(--color-accent)
    );

    --color-border: color-mix(in oklch, var(--color-text) 55%, var(--color-bg));

    --color-muted: color-mix(in oklch, var(--color-text) 65%, var(--color-bg));
  }

  body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    padding: var(--space);
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  input,
  textarea,
  button {
    font: inherit;
  }
}

@layer components {
  main {
    max-inline-size: 1000px;
    margin-inline: auto;
    padding-block: var(--space);
  }

  form p {
    margin-block: 0.5rem 1rem;
  }

  :where(nav ul li) a {
    color: var(--color-accent);
  }

  .nav-link {
    color: rgb(27, 18, 90);
  }

  a[aria-current="location"] {
    color: rgb(27, 18, 90);
  }

  a {
    color: var(--color-accent);
  }

  h1,
  h2 {
    color: var(--color-text);
  }

  .skip-link {
    color: var(--color-accent);
  }

  /* SVG icons */
  svg {
    color: var(--color-accent);
  }

  /* Submit button */
  button {
    color: var(--color-bg);
    background: var(--color-accent);
  }

  /* Button hover */
  button:hover {
    background: color-mix(in oklch, var(--color-accent), black 15%);
  }
}

@layer utilities {
  .text-muted {
    color: var(--color-muted);
  }
}
